// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Font-awesome
@import '~@fortawesome/fontawesome-free/css/all.min.css';

// Include others scss files
@import 'alert';
@import 'animation';
@import 'card';
@import 'edit';
@import 'footer';
@import 'header';
@import 'show';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Nunito";
}

body {

  background: $background-main;

  margin: {

    top: 30px;
    bottom: 30px;
  }
}
